.rd-web-custom-home-class {
    // Banner Section
    .banner-section {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        .banner {
            position: absolute;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            @include general_flexbox_usage();
            .introduction {
                flex: 0 0 48%;
                align-self: center;
                h1 {
                    margin-bottom: 2rem;
                }
            }
            .image {
                flex: 0 0 48%;
                align-self: center;
                img {
                    width: 100%;
                    height: 660px;
                    @include mobile() {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .side {
                @include mobile() {
                    flex: 0 0 100%;
                }
            }
        }
        canvas {
            position: relative;
            z-index: 2;
        }
    }
    // About Section
    .rd-web-about {
        margin: 8rem 0;
        padding: 3rem 0;
        .about-section-wrapper {
            @include general_flexbox_usage();
            .side {
                flex: 0 0 45%;
                @include mobile() {
                    flex: 0 0 100%;
                }
            }
        }
    }

    // Technical Skills
    .rd-web-technical-skills {
        margin: 8rem 0;
        padding: 3rem 0;
        .technical-skills {
            display: grid;
            grid-template-columns: 23.9% 23.9% 47.1%;
            justify-content: space-between;
            @include mobile() {
                gap: 25px;
                grid-template-columns: 1fr;
            }
            .card {
                border-radius: 20px;
                background-color: #efefff;
                border: 1px solid #e5cfff;
                padding: 1.3rem;
                height: max-content;
                .skill-icons {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    gap: 21px;
                    justify-content: space-between;
                    align-items: center;  
                    margin-top: 2rem;
                    @include mobile() {
                        grid-template-columns: repeat(4, minmax(60px, 1fr));
                        gap: 25px;
                    }
                    .icon {
                        width: 100px;
                        height: 100px;
                        cursor: pointer;
                        @include mobile() {
                            width: 60px;
                            height: 60px;
                        }
                    }
                    .icon:hover {
                        transform: scale(1.30);
                    }
                }
            }
        }
    }

    // Projects
    .rd-web-projects {
        margin: 8rem 0;
        padding: 3rem 0;
        .rd-projects-slider {
            .slide {
                margin: 0 2rem 0 0;
                @include mobile() {
                    margin: 0;
                }
                .project-image {
                    .project-thumbnail {
                        border-radius: 20px 20px 0 0;
                        height: 250px;
                    }
                }
                .details {
                    border-radius: 0 0 20px 20px;
                    background-color: #efefff;
                    border: 1px solid #e5cfff;
                    padding: 1rem;
                    ul {
                        list-style: disc;
                        margin-bottom: 1.3rem;
                    }
                    h4 {
                        margin: 0;
                    }
                    a {
                        padding: 10px 20px;
                        border-radius: 20px;
                        color: $white;
                        background-image: linear-gradient(to right, #4458dc 0%, $cool-mysterious-blue-tinged-purple 100%), radial-gradient(circle at top left, #4458dc, $cool-mysterious-blue-tinged-purple);
                    }
                    a:hover {
                        background-image: linear-gradient(to left, #4458dc 0%, $cool-mysterious-blue-tinged-purple 100%), radial-gradient(circle at bottom right, #4458dc, $cool-mysterious-blue-tinged-purple);
                    }
                }
                // .details:hover {
                //     color: white;
                //     background-color: #845fee;
                //     border: none;
                // }
            }
        }
    }
    // Contact Us
    .rd-web-contact-details {
        margin: 8rem 0;
        padding-top: 3rem;
        .contact-form-and-other-contact-means {
            @include general_flexbox_usage();
            .other-means-to-contact {
                flex: 0 0 42%;
                @include mobile() {
                    flex: 0 0 100%;
                }
            }
            .contact-form {
                flex: 0 0 50%;
                @include mobile() {
                    flex: 0 0 100%;
                }
            }
        }
    }
}