footer {
    .footer-section {
        background-image: linear-gradient(to right, #4458dc 0%, #845fee 100%), radial-gradient(circle at top left, #4458dc, #845fee);
        color: #fff;
        padding: 0.5rem 0;
        margin-top: 5rem;
        @include mobile() {
            margin-top: 0;
        }
        h4 {
            text-align: center;
        }
    }
}